body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(197, 226, 243, 0.712);
  font-family: "Zen Loop", cursive;
}
.login {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 50px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.PkaZoqqiw2guf2SCIl2obQHaFj%26pid%3DApi&f=1");
  background-repeat: no-repeat;
  background-position: left bottom;
}
form {
  grid-column: 1/4;
  grid-row: 2/9;
  justify-self: start;
}
img {
  grid-column: 7/11;
  grid-row: 3/12;
  justify-self: end;
}
.textbox {
  margin-bottom: 1rem;
}
.textbox:hover {
  border-color: blue;
}
button {
  color: white;
  background-color: blue;
  padding: 0.25rem;
  width: 5rem;
  border-radius: 0.5rem;
  border-color: black;
}
.labeltext {
  margin-bottom: 0.25rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
}
#username {
  text-transform: capitalize;
}
